{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<!-- Start Hero Section -->
<div class="hero">
    <div class="container d-flex justify-content-center mx-auto align-items-center">
      <div class="row">
        <div class="">
          <h1>CAMBIAR CONTRASEÑA</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->
  <br><br><br>
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <p class="card-text text-center">Se ha enviado un correo electrónico con instrucciones para restablecer tu contraseña. Por favor, revisa tu bandeja de entrada y sigue las instrucciones.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
{% endblock contenido %}
