{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<!-- Start Hero Section -->
<div class="hero">
    <div class="container d-flex justify-content-center mx-auto align-items-center">
      <div class="row">
        <div class="">
          <h1>RESTABLECER CONTRASEÑA</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->
  <br><br><br>
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <p class="card-text text-center">Tu contraseña ha sido restablecida correctamente.</p>
                        <a href="{% url 'login' %}" class="btn btn-primary btn-block mt-3 rounded-pill">Iniciar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
{% endblock contenido %}
