{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center">Contraseña Restablecida</h2>
                    <p class="card-text text-center">Tu contraseña ha sido restablecida correctamente.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary btn-block mt-3 rounded-pill">Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
