{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
{% load i18n %}
{% blocktrans %}Ha solicitado un restablecimiento de contraseña para su cuenta en {{ site_name }}.{% endblocktrans %}
{% trans "Siga el enlace abajo para restablecer su contraseña:" %}

http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "Su nombre de usuario, en caso de que lo haya olvidado:" %} {{ user.get_username }}

{% trans "Gracias por usar nuestro sitio!" %}
{% trans "El equipo de" %} {{ site_name }}
{% endblock contenido %}
