{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
<!-- Start Hero Section -->
<div class="hero">
  <div class="container d-flex justify-content-center mx-auto align-items-center">
    <div class="row">
      <div class="">
        <h1>PERFIL DE USUARIO</h1>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->
<br>
<div class="container">
  <div class="row justify-content-center mt-4 mb-5">
    <div class="col-md-8">
      <form method="POST" class="p-4 rounded shadow" id="perfilUsuarioForm">
        {% csrf_token %}
        <div class="form-group">
          {{ form | crispy }}
        </div>
        
        <button type="button" class="btn btn-warning mt-3" onclick="confirmarActualizarUsuario()">Actualizar</button>
      </form>
    </div>
  </div>
</div>
<br><br>
<style>
  .form-control {
    height: 50px;
    border-radius: 20px;
  }
</style>
{% endblock contenido %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-ZB6xrqfMuj1N0xyQcJcGf2ptWqf3vO4lJAsT1LRjCLYjd3OV3AXSv17t1G0/hkZi" crossorigin="anonymous"></script>
<script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'core/js/custom.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/mensajes.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js" integrity="sha512-j+F4W//4Pu39at5I8HC8q2l1BNz4OF3ju39HyWeqKQagW6ww3ZF9gFcu8rzUbyTDY7gEo/vqqzGte0UPpo65QQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
function confirmarActualizarUsuario() {
  Swal.fire({
    title: '¿Estás seguro?',
    text: '¿Desea actualizar el perfil?',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Sí, actualizar',
    cancelButtonText: 'Cancelar'
  }).then((result) => {
    if (result.isConfirmed) {
      document.getElementById('perfilUsuarioForm').submit();
    }
  });
}
</script>
{% endblock js %}
