{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>TIENDA</h1>
                    </div>
                </div>
                <div class="col-lg-7">

                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->

    <div class="untree_co-section product-section before-footer-section">
		<div class="container">
			<div class="row">
				<div class="d-flex mx-auto align-items-center justify-content-center mb-5">
                    {% if user.idRol_id == 1 or user.idRol_id == 2 %}
					<p><a href="{% url 'addProduct' %}" class="btn btn-secondary me-2 text-white font-bold">AÑADIR PRODUCTO</a></p>
                    {% endif %}
                    </div>
                    {% for p in listado %}
                        <div class="col-12 col-md-4 col-lg-3 mb-5 mt-5">
                            <a class="product-item" href="{% url 'detalle_producto' p.idProducto %}">
                                {% if p.imagenProducto %}
                                    <img src="{{ MEDIA_URL }}{{ p.imagenProducto }}" class="img-fluid product-thumbnail" alt="">
                                {% else %}
                                    <p>No hay imagen disponible</p>
                                {% endif %}
                                <h3 class="product-title">{{ p.nombreProducto }}</h3>
                                <strong class="product-price">${{ p.precioProducto }}</strong>
                                <span class="icon-cross">
                                    <img src="{% static 'core/images/cross.svg' %}" class="img-fluid">
                                </span>
                            </a>
                        </div>
                    {% endfor %}
			</div>
            {% include 'core/paginator.html' %}
		</div>
	</div>
{% endblock contenido %}
